@charset "UTF-8";

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

.clearfix::after, .row:after{
    content: ' ';
    display: block;
    clear: both;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: #37a0a0;
    transition: all ease-out .2s;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{
    background-color: #612674;
    text-align: center;
}

.top-nav ul{
    margin: 0;
    list-style: none;
    padding: 10px 5px;
}

.top-nav a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    background-color: #7c3792;
    transition: all ease-in .2s;
}

.top-content{
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top-content-title{
    color: #612674;
    font-size: 1.375em;  /* 22 / 16 */
    margin: 1.375em;
}

.top-content-subtitle{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;
}

.middle-content{
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content-title{
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
}

.middle-content p{
    line-height: 1.5;
    color: rgb(59, 59, 59);
}

.middle-content span[class^=icon]{
    font-size: 3em;
    color: #652e79;
}

.main-content{
    padding: 2em;
}

.main-content p{
    line-height: 1.5;
}

.main-content-article{
    margin-bottom: 3.5em;
}

.main-content-title{
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: normal;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare{
    background-color: #303d4c;
    padding: .5em;
}

.footer-menushare li{
    margin: 0 1em;
    display: inline-block;
}

.footer-menushare a{
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

.footer-menushare a:hover{
    background-color: #b5d3f7;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
    color: #303d4c;
    transition: all ease-out .4s;
}




@media screen and (min-width: 780px){
    .top-header-logo{
        float: left;
    }

    .top-nav{
        background-color: transparent;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
    }
    
    .top-content{
        background-color: #521a66;
        color: white;
    }

    .top-nav ul{
        margin: 0;
        padding: 0;
    }

    .top-nav li{
        display: inline-block;
    }

    .top-nav a{
        color: #713a84;
        background-color: transparent;
        font-weight: normal;
        border-radius: 0;
        transition: all ease-out .1s;
    }

    .top-nav a:hover{
        background-color: #ede7f7;
        font-weight: 900;
        border-radius: 15px;
        transition: all ease-out .1s;
    }


    .top-content-title{
        color: white;
    }

    .top-content-title::before{
        content: url("../images/icon_play.svg");
        display: block;
        width: 5%;
        margin: auto;
        margin-bottom: 10px;
    }

    .top-content-subtitle{
        color: white;
    }

    .col-1_4{
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .button{
        float: right;
    }
}
@media screen and (min-width: 1000px){
    .top-content{
        background-color: #521a66;
        background-image: url(../images/bg_topo_1198x670.jpg);
        height: 30em;
        padding-top: 10em;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-content-title::before{
        content: url("../images/icon_play.svg");
        display: block;
        width: 8%;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px){
    .top-content{
        background-image: url(../images/bg_topo_1600x1374.jpg);
        background-position: center top;
        background-size: cover;
    }

    .top-content-title::before{
        content: url("../images/icon_play.svg");
        display: block;
        width: 10%;
        margin: auto;
        margin-bottom: 10px;
    }

    .col-1_4{
        width: 23%;
        margin: 1%;
    }

    .col-1_2{
        width: 48%;
        margin: 1%;
        float: left;
    }

    .main-content-article .button{
        float: none;
    }
}

